<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>&#25216;&#26415;&#23460;&#24037;&#20855;&#25554;&#20214;</Name><AddInID>{a6bdc9d4-b015-435b-a231-ca40d6668346}</AddInID><Description>-</Description><Version>0.29</Version><Image>Images\thumbnail.png</Image><Author>&#35768;&#20255;&#26480;</Author><Company>&#24191;&#19996;&#30465;&#22269;&#22303;&#36164;&#28304;&#27979;&#32472;&#38498;</Company><Date>04/21/2022</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="JssAddins_addin.py" namespace="JssAddins_addin"><ArcMap>
    <Commands>
        <Button caption="&#21482;&#26174;&#31034;&#21487;&#35265;&#33539;&#22260;" category="&#25216;&#26415;&#23460;&#24037;&#20855;&#25554;&#20214;" class="ButtonClass22" id="JssAddins_addin.button" image="Images\icons8-power-on-off-switch-for-electrical-appliances-16.png" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Toolbar" category="&#25216;&#26415;&#23460;&#24037;&#20855;&#25554;&#20214;" id="JssAddins_addin.toolbar" showInitially="true"><Items><Button refID="JssAddins_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>